body {
    background-color: #262626;
  }

  .form {
    height: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center; 
  }

  .gruppenform{

  }

  .textEnter{
    height: 50px;
    font-size:14pt;
  }

  .sidenav {
    height: 100%; 
    width: 80px;
    position: fixed; 
    z-index: 1;
    top: 0; 
    left: 0;
    background-color: #404040; 
    overflow-x: hidden; 
    padding-top: 20px;
  }

  .group{
    padding-top: 15px;
    padding-left: 9px;
  }

  .dm{
    padding-top: 35px;
    padding-left: 15px;
  }

  .logout{
    position: fixed;
    bottom: 25px;
    padding-left: 15px;
  }

  .fa-people-group {
    color: #bfbfbf;
}

  .fa-people-group:hover {
    color: #262626;
}

.fa-arrow-right-from-bracket {
    color: #bfbfbf;
}

.fa-arrow-right-from-bracket:hover {
    color: #262626;
}

.fa-message {
    color: #bfbfbf;
}

  .fa-message:hover {
    color: #262626;
}